.navbar {
  background: #ff5757 !important;
}

html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.search-container { 
  max-width: 1000px;
}

.main-results {
  min-height: 600px;
}

.search-result-row {
  padding: 20px;
}

.search-button { 
  margin-top: 20px;
}

.search-result-row:hover {
  cursor: pointer;
  background: #eee;
}

.clear-button { 
  padding: 20px;
}

#wrapper {
  flex: 1;
}
