.navbar {
  background: #ff5757 !important;
}

html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.search-container { 
  max-width: 1000px;
}

.main-results {
  min-height: 600px;
}

.search-result-row {
  height: 220px;
  padding: 20px;
  border-top: 1px solid black;
}

.charity-col {
  margin-left: 20px;
}

.rel-col {
  margin-right: 20px;
}

.rank-input {
  font-size: 14px !important;
}

.search-button { 
  padding: 20px 30px 20px 30px !important;
  font-size: 20px !important;
  padding-left: 50px;
  margin-top: 20px;
}

.header-logo {
  width: 60px;
  margin-bottom: 20px;
}

.result-info-text {
  margin-bottom: 25px;
}

.search-result-url {
  padding-top: 15px;
  margin-top: 25px;
  /* overflow: hidden; */
}

.search-result-score {
  line-height: 180px;
  font-size: 48px;
}

.search-result-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.search-result-row:hover {
  cursor: pointer;
  background: #eee;
}

.clear-button { 
  padding: 20px;
  margin-bottom: 15px;
}

#wrapper {
  flex: 1;
}
