.navbar {
  background: #ff5757 !important;
}

html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.search-container { 
  max-width: 1000px;
}

.main-results {
  min-height: 600px;
}

.search-result-row {
  padding: 20px;
  border-top: 1px solid black;
}

.search-button { 
  margin-top: 20px;
}

.result-info-text {
  margin-bottom: 25px;
}

.search-result-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.search-result-row:hover {
  cursor: pointer;
  background: #eee;
}

.clear-button { 
  padding: 20px;
  margin-bottom: 15px;
}

#wrapper {
  flex: 1;
}
